openapi: 3.0.1
info:
  title: Palantir OpenAPI
  description: The Palantir REST API. Please see https://www.palantir.com/docs for
    more details.
  version: 3.0.1
externalDocs:
  description: API Documentation
  url: https://www.palantir.com/docs
servers:
- url: https://ptukhealth.palantirfoundry.co.uk
paths:
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission:
    get:
      tags:
      - AdmissionApiService
      operationId: admissionListAdmission
      parameters:
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AdmissionProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      - name: snapshot
        in: query
        description: |
          A flag to use snapshot consistency when paging.
          Setting this to true will give you a consistent view from before you start paging through the results, ensuring you do not get duplicate or missing items.
          Setting this to false will let new results enter as you page, but you may encounter duplicate or missing items.
          This defaults to false if not specified, which means you will always get the latest results.
        required: false
        schema:
          type: boolean
      - name: branch
        in: query
        description: |
          The Foundry branch to list objects from. If not specified, the default branch will be used.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListAdmissionResponse"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/aggregate:
    post:
      tags:
      - AdmissionApiService
      operationId: admissionComputeAdmissionAggregation
      parameters:
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to aggregate objects from. If not specified, the default branch will be used.
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Ontologies.AggregateObjectsRequestV2"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.AggregateObjectsResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/count:
    post:
      tags:
      - AdmissionApiService
      operationId: admissionComputeAdmissionCount
      parameters:
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The package version of the generated SDK.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to count the objects from. If not specified, the default branch is used.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.CountObjectsResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: PRIVATE_BETA
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/search:
    post:
      tags:
      - AdmissionApiService
      operationId: admissionSearchAdmission
      parameters:
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to search objects from. If not specified, the default branch will be used.
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Ontologies.SearchObjectsRequestV2"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.SearchAdmissionResponse"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/{primaryKey}:
    get:
      tags:
      - AdmissionApiService
      operationId: admissionGetAdmission
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AdmissionProperties"
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      - name: branch
        in: query
        description: |
          The Foundry branch to get the object from. If not specified, the default branch is used.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.Admission"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/{primaryKey}/links/births:
    get:
      tags:
      - AdmissionApiService
      operationId: admissionListAdmissionLinkedBirths
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AdmissionProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      - name: snapshot
        in: query
        description: |
          A flag to use snapshot consistency when paging.
          Setting this to true will give you a consistent view from before you start paging through the results, ensuring you do not get duplicate or missing items.
          Setting this to false will let new results enter as you page, but you may encounter duplicate or missing items.
          This defaults to false if not specified, which means you will always get the latest results.
        required: false
        schema:
          type: boolean
      - name: branch
        in: query
        description: |
          The Foundry branch to list linked objects from. If not specified, the default branch will be used.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListBirthResponse"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/{primaryKey}/links/births/{linkedObjectPrimaryKey}:
    get:
      tags:
      - AdmissionApiService
      operationId: admissionGetAdmissionLinkedBirths
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AdmissionProperties"
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      - name: branch
        in: query
        description: |
          The Foundry branch to load the object set for multiple object types. If not specified, the default branch is used.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Admission.Birth"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/{primaryKey}/links/consultantEpisodes:
    get:
      tags:
      - AdmissionApiService
      operationId: admissionListAdmissionLinkedConsultantEpisodes
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AdmissionProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      - name: snapshot
        in: query
        description: |
          A flag to use snapshot consistency when paging.
          Setting this to true will give you a consistent view from before you start paging through the results, ensuring you do not get duplicate or missing items.
          Setting this to false will let new results enter as you page, but you may encounter duplicate or missing items.
          This defaults to false if not specified, which means you will always get the latest results.
        required: false
        schema:
          type: boolean
      - name: branch
        in: query
        description: |
          The Foundry branch to list linked objects from. If not specified, the default branch will be used.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListConsultantEpisodeResponse"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/{primaryKey}/links/consultantEpisodes/{linkedObjectPrimaryKey}:
    get:
      tags:
      - AdmissionApiService
      operationId: admissionGetAdmissionLinkedConsultantEpisodes
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AdmissionProperties"
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      - name: branch
        in: query
        description: |
          The Foundry branch to load the object set for multiple object types. If not specified, the default branch is used.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Admission.ConsultantEpisode"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/{primaryKey}/links/criticalCarePeriods:
    get:
      tags:
      - AdmissionApiService
      operationId: admissionListAdmissionLinkedCriticalCarePeriods
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AdmissionProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      - name: snapshot
        in: query
        description: |
          A flag to use snapshot consistency when paging.
          Setting this to true will give you a consistent view from before you start paging through the results, ensuring you do not get duplicate or missing items.
          Setting this to false will let new results enter as you page, but you may encounter duplicate or missing items.
          This defaults to false if not specified, which means you will always get the latest results.
        required: false
        schema:
          type: boolean
      - name: branch
        in: query
        description: |
          The Foundry branch to list linked objects from. If not specified, the default branch will be used.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListCriticalCarePeriodResponse"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/{primaryKey}/links/criticalCarePeriods/{linkedObjectPrimaryKey}:
    get:
      tags:
      - AdmissionApiService
      operationId: admissionGetAdmissionLinkedCriticalCarePeriods
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AdmissionProperties"
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      - name: branch
        in: query
        description: |
          The Foundry branch to load the object set for multiple object types. If not specified, the default branch is used.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Admission.CriticalCarePeriod"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/{primaryKey}/links/emed3fitNotes:
    get:
      tags:
      - AdmissionApiService
      operationId: admissionListAdmissionLinkedEmed3fitNotes
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AdmissionProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      - name: snapshot
        in: query
        description: |
          A flag to use snapshot consistency when paging.
          Setting this to true will give you a consistent view from before you start paging through the results, ensuring you do not get duplicate or missing items.
          Setting this to false will let new results enter as you page, but you may encounter duplicate or missing items.
          This defaults to false if not specified, which means you will always get the latest results.
        required: false
        schema:
          type: boolean
      - name: branch
        in: query
        description: |
          The Foundry branch to list linked objects from. If not specified, the default branch will be used.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListEMed3FitNoteResponse"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/{primaryKey}/links/emed3fitNotes/{linkedObjectPrimaryKey}:
    get:
      tags:
      - AdmissionApiService
      operationId: admissionGetAdmissionLinkedEmed3fitNotes
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AdmissionProperties"
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      - name: branch
        in: query
        description: |
          The Foundry branch to load the object set for multiple object types. If not specified, the default branch is used.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Admission.EMed3FitNote"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/{primaryKey}/links/homeLeaves:
    get:
      tags:
      - AdmissionApiService
      operationId: admissionListAdmissionLinkedHomeLeaves
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AdmissionProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      - name: snapshot
        in: query
        description: |
          A flag to use snapshot consistency when paging.
          Setting this to true will give you a consistent view from before you start paging through the results, ensuring you do not get duplicate or missing items.
          Setting this to false will let new results enter as you page, but you may encounter duplicate or missing items.
          This defaults to false if not specified, which means you will always get the latest results.
        required: false
        schema:
          type: boolean
      - name: branch
        in: query
        description: |
          The Foundry branch to list linked objects from. If not specified, the default branch will be used.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListHomeLeaveResponse"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/{primaryKey}/links/homeLeaves/{linkedObjectPrimaryKey}:
    get:
      tags:
      - AdmissionApiService
      operationId: admissionGetAdmissionLinkedHomeLeaves
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AdmissionProperties"
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      - name: branch
        in: query
        description: |
          The Foundry branch to load the object set for multiple object types. If not specified, the default branch is used.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Admission.HomeLeave"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/{primaryKey}/links/incomingTransferOfCareRequest:
    get:
      tags:
      - AdmissionApiService
      operationId: admissionListAdmissionLinkedIncomingTransferOfCareRequest
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AdmissionProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      - name: snapshot
        in: query
        description: |
          A flag to use snapshot consistency when paging.
          Setting this to true will give you a consistent view from before you start paging through the results, ensuring you do not get duplicate or missing items.
          Setting this to false will let new results enter as you page, but you may encounter duplicate or missing items.
          This defaults to false if not specified, which means you will always get the latest results.
        required: false
        schema:
          type: boolean
      - name: branch
        in: query
        description: |
          The Foundry branch to list linked objects from. If not specified, the default branch will be used.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListTransferOfCareRequestResponse"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  ? /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/{primaryKey}/links/incomingTransferOfCareRequest/{linkedObjectPrimaryKey}
  : get:
      tags:
      - AdmissionApiService
      operationId: admissionGetAdmissionLinkedIncomingTransferOfCareRequest
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AdmissionProperties"
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      - name: branch
        in: query
        description: |
          The Foundry branch to load the object set for multiple object types. If not specified, the default branch is used.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Admission.TransferOfCareRequest"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/{primaryKey}/links/labour:
    get:
      tags:
      - AdmissionApiService
      operationId: admissionListAdmissionLinkedLabour
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AdmissionProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      - name: snapshot
        in: query
        description: |
          A flag to use snapshot consistency when paging.
          Setting this to true will give you a consistent view from before you start paging through the results, ensuring you do not get duplicate or missing items.
          Setting this to false will let new results enter as you page, but you may encounter duplicate or missing items.
          This defaults to false if not specified, which means you will always get the latest results.
        required: false
        schema:
          type: boolean
      - name: branch
        in: query
        description: |
          The Foundry branch to list linked objects from. If not specified, the default branch will be used.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListLabourResponse"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/{primaryKey}/links/labour/{linkedObjectPrimaryKey}:
    get:
      tags:
      - AdmissionApiService
      operationId: admissionGetAdmissionLinkedLabour
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AdmissionProperties"
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      - name: branch
        in: query
        description: |
          The Foundry branch to load the object set for multiple object types. If not specified, the default branch is used.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Admission.Labour"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/{primaryKey}/links/outgoingTransferOfCareRequests:
    get:
      tags:
      - AdmissionApiService
      operationId: admissionListAdmissionLinkedOutgoingTransferOfCareRequests
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AdmissionProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      - name: snapshot
        in: query
        description: |
          A flag to use snapshot consistency when paging.
          Setting this to true will give you a consistent view from before you start paging through the results, ensuring you do not get duplicate or missing items.
          Setting this to false will let new results enter as you page, but you may encounter duplicate or missing items.
          This defaults to false if not specified, which means you will always get the latest results.
        required: false
        schema:
          type: boolean
      - name: branch
        in: query
        description: |
          The Foundry branch to list linked objects from. If not specified, the default branch will be used.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListTransferOfCareRequestResponse"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  ? /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/{primaryKey}/links/outgoingTransferOfCareRequests/{linkedObjectPrimaryKey}
  : get:
      tags:
      - AdmissionApiService
      operationId: admissionGetAdmissionLinkedOutgoingTransferOfCareRequests
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AdmissionProperties"
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      - name: branch
        in: query
        description: |
          The Foundry branch to load the object set for multiple object types. If not specified, the default branch is used.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Admission.TransferOfCareRequest"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/{primaryKey}/links/patient:
    get:
      tags:
      - AdmissionApiService
      operationId: admissionListAdmissionLinkedPatient
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AdmissionProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      - name: snapshot
        in: query
        description: |
          A flag to use snapshot consistency when paging.
          Setting this to true will give you a consistent view from before you start paging through the results, ensuring you do not get duplicate or missing items.
          Setting this to false will let new results enter as you page, but you may encounter duplicate or missing items.
          This defaults to false if not specified, which means you will always get the latest results.
        required: false
        schema:
          type: boolean
      - name: branch
        in: query
        description: |
          The Foundry branch to list linked objects from. If not specified, the default branch will be used.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListPatientResponse"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/{primaryKey}/links/patient/{linkedObjectPrimaryKey}:
    get:
      tags:
      - AdmissionApiService
      operationId: admissionGetAdmissionLinkedPatient
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AdmissionProperties"
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      - name: branch
        in: query
        description: |
          The Foundry branch to load the object set for multiple object types. If not specified, the default branch is used.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Admission.Patient"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/{primaryKey}/links/scoredAssessments:
    get:
      tags:
      - AdmissionApiService
      operationId: admissionListAdmissionLinkedScoredAssessments
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AdmissionProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      - name: snapshot
        in: query
        description: |
          A flag to use snapshot consistency when paging.
          Setting this to true will give you a consistent view from before you start paging through the results, ensuring you do not get duplicate or missing items.
          Setting this to false will let new results enter as you page, but you may encounter duplicate or missing items.
          This defaults to false if not specified, which means you will always get the latest results.
        required: false
        schema:
          type: boolean
      - name: branch
        in: query
        description: |
          The Foundry branch to list linked objects from. If not specified, the default branch will be used.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListScoredAssessmentResponse"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/{primaryKey}/links/scoredAssessments/{linkedObjectPrimaryKey}:
    get:
      tags:
      - AdmissionApiService
      operationId: admissionGetAdmissionLinkedScoredAssessments
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AdmissionProperties"
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      - name: branch
        in: query
        description: |
          The Foundry branch to load the object set for multiple object types. If not specified, the default branch is used.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Admission.ScoredAssessment"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/{primaryKey}/links/wardStays:
    get:
      tags:
      - AdmissionApiService
      operationId: admissionListAdmissionLinkedWardStays
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AdmissionProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      - name: snapshot
        in: query
        description: |
          A flag to use snapshot consistency when paging.
          Setting this to true will give you a consistent view from before you start paging through the results, ensuring you do not get duplicate or missing items.
          Setting this to false will let new results enter as you page, but you may encounter duplicate or missing items.
          This defaults to false if not specified, which means you will always get the latest results.
        required: false
        schema:
          type: boolean
      - name: branch
        in: query
        description: |
          The Foundry branch to list linked objects from. If not specified, the default branch will be used.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListWardStayResponse"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/{primaryKey}/links/wardStays/{linkedObjectPrimaryKey}:
    get:
      tags:
      - AdmissionApiService
      operationId: admissionGetAdmissionLinkedWardStays
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AdmissionProperties"
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      - name: branch
        in: query
        description: |
          The Foundry branch to load the object set for multiple object types. If not specified, the default branch is used.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Admission.WardStay"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/palantirukhealth-ontology/objects/Appointment:
    get:
      tags:
      - AppointmentApiService
      operationId: appointmentListAppointment
      parameters:
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AppointmentProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      - name: snapshot
        in: query
        description: |
          A flag to use snapshot consistency when paging.
          Setting this to true will give you a consistent view from before you start paging through the results, ensuring you do not get duplicate or missing items.
          Setting this to false will let new results enter as you page, but you may encounter duplicate or missing items.
          This defaults to false if not specified, which means you will always get the latest results.
        required: false
        schema:
          type: boolean
      - name: branch
        in: query
        description: |
          The Foundry branch to list objects from. If not specified, the default branch will be used.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListAppointmentResponse"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/palantirukhealth-ontology/objects/Appointment/aggregate:
    post:
      tags:
      - AppointmentApiService
      operationId: appointmentComputeAppointmentAggregation
      parameters:
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to aggregate objects from. If not specified, the default branch will be used.
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Ontologies.AggregateObjectsRequestV2"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.AggregateObjectsResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/palantirukhealth-ontology/objects/Appointment/count:
    post:
      tags:
      - AppointmentApiService
      operationId: appointmentComputeAppointmentCount
      parameters:
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The package version of the generated SDK.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to count the objects from. If not specified, the default branch is used.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.CountObjectsResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: PRIVATE_BETA
  /api/v2/ontologies/palantirukhealth-ontology/objects/Appointment/search:
    post:
      tags:
      - AppointmentApiService
      operationId: appointmentSearchAppointment
      parameters:
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to search objects from. If not specified, the default branch will be used.
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Ontologies.SearchObjectsRequestV2"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.SearchAppointmentResponse"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/palantirukhealth-ontology/objects/Appointment/{primaryKey}:
    get:
      tags:
      - AppointmentApiService
      operationId: appointmentGetAppointment
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AppointmentProperties"
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      - name: branch
        in: query
        description: |
          The Foundry branch to get the object from. If not specified, the default branch is used.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.Appointment"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/palantirukhealth-ontology/objects/Appointment/{primaryKey}/links/assignedCareProfessionals:
    get:
      tags:
      - AppointmentApiService
      operationId: appointmentListAppointmentLinkedAssignedCareProfessionals
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AppointmentProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      - name: snapshot
        in: query
        description: |
          A flag to use snapshot consistency when paging.
          Setting this to true will give you a consistent view from before you start paging through the results, ensuring you do not get duplicate or missing items.
          Setting this to false will let new results enter as you page, but you may encounter duplicate or missing items.
          This defaults to false if not specified, which means you will always get the latest results.
        required: false
        schema:
          type: boolean
      - name: branch
        in: query
        description: |
          The Foundry branch to list linked objects from. If not specified, the default branch will be used.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListAssignedCareProfessionalResponse"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  ? /api/v2/ontologies/palantirukhealth-ontology/objects/Appointment/{primaryKey}/links/assignedCareProfessionals/{linkedObjectPrimaryKey}
  : get:
      tags:
      - AppointmentApiService
      operationId: appointmentGetAppointmentLinkedAssignedCareProfessionals
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AppointmentProperties"
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      - name: branch
        in: query
        description: |
          The Foundry branch to load the object set for multiple object types. If not specified, the default branch is used.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Appointment.AssignedCareProfessional"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/palantirukhealth-ontology/objects/Appointment/{primaryKey}/links/clinicLetter:
    get:
      tags:
      - AppointmentApiService
      operationId: appointmentListAppointmentLinkedClinicLetter
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AppointmentProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      - name: snapshot
        in: query
        description: |
          A flag to use snapshot consistency when paging.
          Setting this to true will give you a consistent view from before you start paging through the results, ensuring you do not get duplicate or missing items.
          Setting this to false will let new results enter as you page, but you may encounter duplicate or missing items.
          This defaults to false if not specified, which means you will always get the latest results.
        required: false
        schema:
          type: boolean
      - name: branch
        in: query
        description: |
          The Foundry branch to list linked objects from. If not specified, the default branch will be used.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListClinicLetterResponse"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/palantirukhealth-ontology/objects/Appointment/{primaryKey}/links/clinicLetter/{linkedObjectPrimaryKey}:
    get:
      tags:
      - AppointmentApiService
      operationId: appointmentGetAppointmentLinkedClinicLetter
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AppointmentProperties"
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      - name: branch
        in: query
        description: |
          The Foundry branch to load the object set for multiple object types. If not specified, the default branch is used.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Appointment.ClinicLetter"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/palantirukhealth-ontology/objects/Appointment/{primaryKey}/links/clinicSession:
    get:
      tags:
      - AppointmentApiService
      operationId: appointmentListAppointmentLinkedClinicSession
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AppointmentProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      - name: snapshot
        in: query
        description: |
          A flag to use snapshot consistency when paging.
          Setting this to true will give you a consistent view from before you start paging through the results, ensuring you do not get duplicate or missing items.
          Setting this to false will let new results enter as you page, but you may encounter duplicate or missing items.
          This defaults to false if not specified, which means you will always get the latest results.
        required: false
        schema:
          type: boolean
      - name: branch
        in: query
        description: |
          The Foundry branch to list linked objects from. If not specified, the default branch will be used.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListClinicSessionResponse"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/palantirukhealth-ontology/objects/Appointment/{primaryKey}/links/clinicSession/{linkedObjectPrimaryKey}:
    get:
      tags:
      - AppointmentApiService
      operationId: appointmentGetAppointmentLinkedClinicSession
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AppointmentProperties"
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      - name: branch
        in: query
        description: |
          The Foundry branch to load the object set for multiple object types. If not specified, the default branch is used.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Appointment.ClinicSession"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/palantirukhealth-ontology/objects/Appointment/{primaryKey}/links/emed3fitNotes:
    get:
      tags:
      - AppointmentApiService
      operationId: appointmentListAppointmentLinkedEmed3fitNotes
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AppointmentProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      - name: snapshot
        in: query
        description: |
          A flag to use snapshot consistency when paging.
          Setting this to true will give you a consistent view from before you start paging through the results, ensuring you do not get duplicate or missing items.
          Setting this to false will let new results enter as you page, but you may encounter duplicate or missing items.
          This defaults to false if not specified, which means you will always get the latest results.
        required: false
        schema:
          type: boolean
      - name: branch
        in: query
        description: |
          The Foundry branch to list linked objects from. If not specified, the default branch will be used.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListEMed3FitNoteResponse"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/palantirukhealth-ontology/objects/Appointment/{primaryKey}/links/emed3fitNotes/{linkedObjectPrimaryKey}:
    get:
      tags:
      - AppointmentApiService
      operationId: appointmentGetAppointmentLinkedEmed3fitNotes
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AppointmentProperties"
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      - name: branch
        in: query
        description: |
          The Foundry branch to load the object set for multiple object types. If not specified, the default branch is used.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Appointment.EMed3FitNote"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/palantirukhealth-ontology/objects/Appointment/{primaryKey}/links/patient:
    get:
      tags:
      - AppointmentApiService
      operationId: appointmentListAppointmentLinkedPatient
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AppointmentProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      - name: snapshot
        in: query
        description: |
          A flag to use snapshot consistency when paging.
          Setting this to true will give you a consistent view from before you start paging through the results, ensuring you do not get duplicate or missing items.
          Setting this to false will let new results enter as you page, but you may encounter duplicate or missing items.
          This defaults to false if not specified, which means you will always get the latest results.
        required: false
        schema:
          type: boolean
      - name: branch
        in: query
        description: |
          The Foundry branch to list linked objects from. If not specified, the default branch will be used.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListPatientResponse"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/palantirukhealth-ontology/objects/Appointment/{primaryKey}/links/patient/{linkedObjectPrimaryKey}:
    get:
      tags:
      - AppointmentApiService
      operationId: appointmentGetAppointmentLinkedPatient
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AppointmentProperties"
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      - name: branch
        in: query
        description: |
          The Foundry branch to load the object set for multiple object types. If not specified, the default branch is used.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Appointment.Patient"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/palantirukhealth-ontology/objects/Appointment/{primaryKey}/links/referral:
    get:
      tags:
      - AppointmentApiService
      operationId: appointmentListAppointmentLinkedReferral
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AppointmentProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      - name: snapshot
        in: query
        description: |
          A flag to use snapshot consistency when paging.
          Setting this to true will give you a consistent view from before you start paging through the results, ensuring you do not get duplicate or missing items.
          Setting this to false will let new results enter as you page, but you may encounter duplicate or missing items.
          This defaults to false if not specified, which means you will always get the latest results.
        required: false
        schema:
          type: boolean
      - name: branch
        in: query
        description: |
          The Foundry branch to list linked objects from. If not specified, the default branch will be used.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListReferralResponse"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/palantirukhealth-ontology/objects/Appointment/{primaryKey}/links/referral/{linkedObjectPrimaryKey}:
    get:
      tags:
      - AppointmentApiService
      operationId: appointmentGetAppointmentLinkedReferral
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AppointmentProperties"
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      - name: branch
        in: query
        description: |
          The Foundry branch to load the object set for multiple object types. If not specified, the default branch is used.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Appointment.Referral"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/palantirukhealth-ontology/objects/Appointment/{primaryKey}/links/scoredAssessments:
    get:
      tags:
      - AppointmentApiService
      operationId: appointmentListAppointmentLinkedScoredAssessments
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AppointmentProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      - name: snapshot
        in: query
        description: |
          A flag to use snapshot consistency when paging.
          Setting this to true will give you a consistent view from before you start paging through the results, ensuring you do not get duplicate or missing items.
          Setting this to false will let new results enter as you page, but you may encounter duplicate or missing items.
          This defaults to false if not specified, which means you will always get the latest results.
        required: false
        schema:
          type: boolean
      - name: branch
        in: query
        description: |
          The Foundry branch to list linked objects from. If not specified, the default branch will be used.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListScoredAssessmentResponse"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/palantirukhealth-ontology/objects/Appointment/{primaryKey}/links/scoredAssessments/{linkedObjectPrimaryKey}:
    get:
      tags:
      - AppointmentApiService
      operationId: appointmentGetAppointmentLinkedScoredAssessments
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AppointmentProperties"
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      - name: branch
        in: query
        description: |
          The Foundry branch to load the object set for multiple object types. If not specified, the default branch is used.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Appointment.ScoredAssessment"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/palantirukhealth-ontology/objects/AssignedCareProfessional:
    get:
      tags:
      - AssignedCareProfessionalApiService
      operationId: assignedCareProfessionalListAssignedCareProfessional
      parameters:
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
[...]
